@charset "UTF-8";

body{
    background-color: aquamarine;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
input{
    padding: 5px;
    margin: 5px;
}
div#item{
    background-color: white;
    color: black;
    width: 40vw;
    margin: auto;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}
p#itens{
    display: flex;
    flex-flow: column wrap;
    
}
div#res{
    width: 38vw;
}